<div class="header"> Enregister les résultats de prélèvement d'échantillons:{{resultat.idPrelevement}}</div>
<form [formGroup]="resultatFormGroup" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="my_container">
        <div class="Nom">
            <label>Numéro BA:</label>
            <input placeholder="ex:2334" type="text" formControlName="numeroBA"  name="numeroBA" required number>
        </div>

        <div class="Nom">
            <label>Date de BA:</label>
            <input type="date" formControlName="dateBA" name="date_BA" required>
        </div>

        <div class="Nom">
            <label>Conformité:</label>
            <select formControlName="conforme"  name="choix">
                <option >Oui</option>
                <option >Non</option>
            </select>
        </div>

    </div>
    <div  class="my_container2" *ngIf="resultatFormGroup.value.conforme === 'Non'" >
        <div class="liner"></div>
        <div class="header">Détail de non conformité</div>

        <div class="my_container" >

            <div class="Nom">
                <label  >Numéro TA:</label>
                <input placeholder="ex:2334" type="text" formControlName="numeroTA"  name="NuméroTA" required number>
            </div>

            <div class="Nom">
                <label>Date TA:</label>
                <input  type="Date" formControlName="dateTA"  name="DateTA" required>
            </div>

            <div class="Nom">
                <label>Détail:</label>
                <input  type="text" formControlName="detail"  name="Détail" required>
            </div>
        </div>

    </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-success">Soumettre</button>
</form>
