.my_navbar {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #6095C1 2px;
}

.my_navbar_logo {
  margin-left: 20px;
}

.my_navbar_items {
  margin-bottom: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_navbar_items li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_navbar_items a {
  text-decoration: none;
  font-weight: 400;
  color: #6095C1;
  font-size: 20px;
}

.my_navbar_avatar {
  margin-right: 20px;
}

.active {
  border-bottom: solid #6095C1 2px;
}
.MENU{
  display: flex;


  justify-content: end;

}
.menu{
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #6095C1;
  padding: 2%;
  position: absolute;
}
.menu div{
  font-weight: bold;
  font-size: 20px;


}
.menu button{
  margin-top: 2%;
  font-weight: bold;
  padding: 3%;
  background-color: green;
  border-radius:45px ;
}
.danger{
  display: none;
  transition: 1s;
}
.success{
  transition: 1s;
}