.my_container {
  display: flex;
  flex-direction: column;
}

.top {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_left {
  width: 80%;
}

.filter_form{
  display: flex;
  align-items: center;
}

.filter_name, .filter_etat, .filter_number {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
}

.filter_name {
  width: 30%;
}

.filter_etat {
  width: 15%;
}

.filter_number {
  width: 20%;
}

.filter_label {
  font-size: 16px;
  font-weight: 500;
  color: #3A46B5;
}

.filter_input, .filter_select  {
  height: 35px;
  border: solid  #2168A0 1px;
  color: #3A46B5;
}

.filter_input_number {
  width: 90px;
}

.filter_input {
  font-size: 16px;
  padding: 2px 5px;
}

.filter_btn {
  width: 10%;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  color:  #3A46B5;
  border: solid  #3A46B5 1px;
  height: 35px;
}

.filter_btn {
  cursor: pointer;
  opacity: 0.9;
}
.search_bar {
  display: flex;
  align-items: center;
}

.search_bar_input {
  width: 70%;
  border: solid  #3A46B5 1px;
  height: 35px;
  border-right: none;
}

.search_bar_btn {
  width: 30%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:  #3A46B5;
  border: solid  #3A46B5 1px;
  font-size: 18px;
  height: 35px;
}

.search_bar_btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.top_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.btn_add {
  background-color: #3A46B5;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  width: 23%;
  height: 35px;
}

.btn_add:hover {
  cursor: pointer;
  opacity: 0.9;
}


.table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.table_head {
  font-weight: 500;
  background-color: #C7E1F6;
}

.table_head, .table_body {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

}

.table_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 14.28%;
  height: 100%;
  border-right: solid #CCCCCC 1px;
  border-bottom: solid #CCCCCC 1px;
}

.btn {
  border: none;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn .icon {
  text-align: center;
  font-size: 25px;
}

.btn_delete {
  color: red;
}

.btn_update {
  color: green;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages li {
  list-style: none;
  margin-right: 10px;
  margin-top: 30px;
}

.btn_page {
  border: solid #2168A0 1px;
  border-radius: 5px;
  background-color: white;
  color: #2168A0;
  font-weight: 600;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.btn_current_page {
  border: none;
  border-radius: 5px;
  background-color: #2168A0;
  color: white;
  font-weight: 600;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.pages button:hover {
  cursor: pointer;
  opacity: 0.9;
}


