.header{
  padding-top: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #6095C1;
}
@media(max-width:700px){
  .header{
    display: flex;
  }
}



form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_container {
  margin-top: 30px;
  width: 50%;
  display: grid;
  grid-template-columns: 40% 40% ;
  column-gap: 20%;
}

.Nom{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.Nom input, .Nom select {
  width: 250px;
  height: 35px;
  margin-top: 10px;
}

.Nom input {
  font-size: 15px;
  padding: 10px;
}


form button{
  justify-content: start;

}
button{
  background-color: #05F300;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.formvalid{
  opacity: 0.3;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
