.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  color: #6095C1;
  margin: 30px 0;
}

.box {
  border-top: 5px solid #6095C1;
  border-bottom:2px solid #CCCCCC ;
  border-right: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_container {
  width: 70%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 40% 40% ;
  column-gap: 20%;
}

.Nom {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.Nom input, .Nom select {
  width: 250px;
  height: 35px;
  margin-top: 10px;
}

.Nom input {
  font-size: 15px;
  padding: 10px;
}

.buttons {
  margin: 15px 0 30px 25%;
  width: 150px;
}


